{% extends 'votingApp/base.html' %}
{% block title %}Candidate Login - e-Chayan{% endblock %}

{% block content %}
<div class="form-card">
    <h1>Candidate Portal Login</h1>
    
    {% if messages %}
        {% for message in messages %}
        <div class="alert-message {% if message.tags == 'error' %}alert-error{% else %}alert-success{% endif %}">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label>VoterId</label>
            <input type="text" name="username" required class="form-control">
        </div>
        
        <div class="form-group">
            <label>Password</label>
            <div class="password-wrapper">
                <input type="password" name="password" required class="form-control">
                <i class="bi bi-eye-slash toggle-password-icon"></i>
            </div>
        </div>
        
        <button type="submit" class="btn">Login to Dashboard</button>
    </form>
    
    <div class="auth-link">
        <p>Not a candidate? <a href="{% url 'login' %}">Voter Login here</a></p>
        <p><a href="{% url 'password_reset' %}">Forgot Password?</a></p>
    </div>
</div>
{% endblock %}